.DS_Store
.ipynb_checkpoints/explore_the_data-checkpoint.ipynb
data/.ipynb_checkpoints/datatest-checkpoint.txt
code/__pycache__/myplots.cpython-310.pyc
code/__pycache__/RF_classification.cpython-310.pyc
